/* ==========================================================================
   Settings: Main
   ========================================================================== */

$navbar-font-family:        $font-family-sans-serif;

$font-size-smaller:         ($font-size-base * 0.75);
$font-size-tiny:            ($font-size-base * 0.6);

$masthead-width:            (146px * 2);


/*
   Grids
   ========================================================================== */


$susy-grid-cutnado: (1 2 1 4 4 1 3 2);

$susy: (
  columns: $susy-grid-cutnado,
  column-width: 6.5rem,
  gutters: 1/4,
  math: static,
  output: float,
  gutter-position: inside,
);
