/* ==========================================================================
   Settings: Main
   ========================================================================== */

$navbar-font-family:        $font-family-sans-serif;

$font-size-smaller:         ($font-size-base * 0.75);
$font-size-tiny:            ($font-size-base * 0.6);


/*
   Grids
   ========================================================================== */


$susy-grid-cutnado: (1 2 1 4 4 1 3 2);

$susy: (
  columns: $susy-grid-cutnado,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  debug: (
    image: show,
    output: overlay,
  ),
);
