/* ==========================================================================
   Settings: Main
   ========================================================================== */

/**
 * Vertical rhythm
 */
// These 3 variables are copies of ones used in Compass' Vertical Rhythm module.

// The base font size.
$base-font-size: 16px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$rhythm-unit: 'rem';

// This variable is a copy of the one used in Compass' support module.

// Optional map of minimum browser versions to support. For example, to
// remove support for IE 7 and earlier, set $browser-minimum-versions['ie']
// to '8'.
$browser-minimum-versions: (
  'chrome':  null,
  'firefox': null,
  'ie':      null,
  'safari':  null,
  'opera':   null
);


// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true;

// The default font family.
$base-font-family: sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;
