/* ==========================================================================
   Settings: Main
   ========================================================================== */

$navbar-font-family:        $font-family-sans-serif;

$font-size-smaller:         ($font-size-base * 0.75);
$font-size-tiny:            ($font-size-base * 0.6);

$masthead-width:            (146px * 2);


/*
   Grids
   ========================================================================== */


$susy-grid-cutnado: (1 2 1 4 4 1 3 2);

$susy: (
  columns: $susy-grid-cutnado,
  gutters: 1/4,
  output: float,
  gutter-position: inside,
);


/*
   Breakpoints
   ========================================================================== */


$break-mobile: 320px 1023px;
$break-palm-and-up: 320px;
$break-palm: 320px 599px;
$break-lap-and-up: 600px;
$break-lap: 600px 1023px;
$break-desk: 1140px;
