/* ==========================================================================
   Components: Character
   ========================================================================== */


/*p*/.aesop-character-cap {
  margin-left: 0;
  width: 100%;
}
