/* ==========================================================================
   Components: Footer
   ========================================================================== */

.single .content-info,
/*footer*/.footer-single {
  @extend %aesop-content;
}


.footer-single-meta {
  @include container(3);
  padding-left: 0;
  padding-right: 0;

  padding-top: ($padding-large-vertical * 4);
  padding-bottom: ($padding-large-vertical * 2);
  border-top: 1px solid black;

  font-size: $font-size-smaller;
  font-family: $font-family-sans-serif;
}

  .footer-summary {
    @include span(1 of 3);
  }

  .footer-credits {
    @include span(2 at 2 of 3);
  }

  .footer-summary,
  .footer-credits {
    padding-left: 1em;
    padding-right: 1em;
  }


.single .content-info {
  font-size: $font-size-tiny;
  font-family: $font-family-sans-serif;
}
