/* ==========================================================================
   Pages: Front Page
   ========================================================================== */

.home {
  position: relative;
  overflow: hidden;

  /**
   * Front page elements shouldn't have component grid applied
   */
  p,
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
  }

    .title,
    .begin,
    .content-info {
      position: absolute;
    }


  .title {
    top: 10rem;
    left: 10rem;
  }

    .site-name {
      font-size: 13rem;
      margin-bottom: 0.5em;
    }

    .site-description {
      font-weight: 300;
      color: $gray-lighter;
      text-shadow: 0px 0px 50px black;
    }

  .begin {
    bottom: 20rem;
    right: 20rem;
    font-size: 6rem;

    a {
      color: white;

      &:hover,
      &:active {
        color: $link-color;
      }
    }
  }

  .content-info {
    bottom: 0;
    right: 0;
    color: $gray-light;
    font-family: $font-family-sans-serif;
    font-size: ($font-size-base * 0.6);
  }
}


