/* ==========================================================================
   Pages: Front Page
   ========================================================================== */

.home {
  overflow: hidden;

  /**
   * Fallback background image
   */
  background: url(../vid/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /**
   * Front page elements shouldn't have component grid applied
   */
  p,
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
  }

    .title,
    .site-credits,
    .begin,
    .content-info {
      position: absolute;
    }


  .title {
    top: 100px;
    left: 100px;
  }

    .site-name {
      font-family: $font-family-serif;
      font-size: 7rem;
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      border-bottom: 2px solid black;
    }

    .site-description {
      font-size: $font-size-h3;
      font-weight: 300;
      line-height: 1.2;
      color: black;
      max-width: 800px;
    }

  .site-credits {
    bottom: 100px;
    left: 100px;
    font-style: italic;
    color: $gray-lighter;
  }

  .begin {
    bottom: 100px;
    right: 100px;
    font-size: 6rem;

    a {
      color: white;

      &:hover,
      &:active {
        color: $link-color;
      }
    }
  }

  .content-info {
    bottom: 0;
    left: 0;
    color: $gray-light;
    font-family: $font-family-sans-serif;
    font-size: $font-size-tiny;
  }
}


