/* ==========================================================================
   Pages: Front Page
   ========================================================================== */

.home {
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

  header {
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 999;
    color: #fff;
    padding: 60px 60px 60px 200px;
    width: 700px;
    height: 400px;
    margin: -200px 0 0 -200px;
    text-align: left;
  }

  h1 {
    font-family: $font-family-serif;
    font-weight: 300;
    font-size: 3.6em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }

    .subhead {
      font-family: $font-family-sans-serif;
      font-size: 1.125em;
    }

  .screen {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
  }

  .big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
}

.ToC {
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
  }

  .container {
    width: 90%;
    max-width: 100%;
    height: 200px;
  }
        .story {
            width: 25%;
            position: relative;
            display:inline-block;
            height: 150px;
            margin-bottom: 20px;
            padding: 20px;
            font-family: $font-family-serif;
            font-size: 1.5em;
            line-height: 1.2em;
        }
              a {
              text-decoration: none;

              }

              a:hover {
              text-decoration: none;
              color: $gray-darker;
              }

            .thumb {
            position: relative;
            display:inline-block;
            }

              img  {
              height: 150px;
              width: 250px;
              }
}


